
a{
    text-decoration: none;
    color: black;
} 

.nav_bar{
    background-color: #A2A2A2;
    font-size: 1.5rem;
}
.mobile__card{
    background-color: #A1A1A1;
}
.tv__wifi__card{
    background-color: #A1A1A1;
}
.option__btn{
    border: 1px solid black;
    background-color: transparent;
}
.subscription__btn{
    border: none;
    background-color: white;
}